<!DOCTYPE html>
<html>
  <head>
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="includes/login_css.css" rel="stylesheet" type="text/css" />
    <link href="includes/main.css" rel="stylesheet" type="text/css" />
    <title>This is <%= @profile %>'s profile page</title>
  </head>
  <body class="infopage">
  <div id= "header-background"></div>
<div id="header-wrap">
  <ul class="nav accountlink" > 
      <li class="sigin custom3">
          <a href="/logout" class="navItem plain">Log out</a>
      </li>   
  </ul>
</div>

<div id="info-content" class="custom9">	
<div class = "logo-black">
</div>
  <%if @owner == "yes"%>
  <!-- Display editing tools here-->
  <% end %>
	<p>This is where the users page information will be displayed.</p>

</div>
  </body>
</html>